.banner {
    height: 600px; /* Adjust the height as needed */
    background-image: url("images/image1.jpg"); /* Replace with the actual image path */
    background-size: cover;
    background-position: center;
  }
  
  .banner-text {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%); 
  
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  .banner-p {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%); 
  
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  @media (max-width: 768px) {
    .banner-text {
      font-size: 24px;
    }
  }