.flex-container {
    display: flex;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    align-items: flex-start;
    flex-wrap: wrap;
    }
    
    .flex-container .flex-item{
    border: 2px solid black;
    padding: 20px;
    background: #eee;
    }

    /* flex-grow: 1 for all items */
.flex-grow-one .flex-item {
    flex-grow: 1;
}

/* flex-grow: 1 only for 2nd item */
.flex-grow-2nd-only .flex-item:nth-child(2) {
    flex-grow: 1;
}

/* flex-grow proportional (1, 2, 3) */
.flex-grow-proportional .flex-item:nth-child(1) {
    flex-grow: 1;
}

.flex-grow-proportional .flex-item:nth-child(2) {
    flex-grow: 2;
}

.flex-grow-proportional .flex-item:nth-child(3) {
    flex-grow: 3;
}