body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

header p {
    font-size: 18px;
    color: #000000;
}

main p {
    font-size: 18px;
    margin-top: 10px;
}

section {
    margin-top: 40px;
}

section h2 {
    font-size: 24px;
    font-weight: bold;
}

article {
    margin-top: 10px;
}

article p {
    margin-top: 5px;
    font-size: 18px;
}